body {
    margin: 0px;
    background-color: #000000;
}

.button {
    background-color: #0033cc;
    color: #EEFFEE;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: filter 0.3s ease;
}

.button:hover {
    filter: brightness(90%);
}

.button:active{
    filter: brightness(80%);
}

/* Using ID selectors is fine due to the small scale */

#container {
    width: 100%;
    height: 100vh;
}

#dynamics-buttons-container,
#playback-buttons-container {
    position: absolute;
    width: 100%;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#playback-buttons-container {
    bottom: 30px;
}

.dynamics-button {
    min-width: 100px;
}

#play-button {

}
